.jbs-home {
  height: 100%;
  width: 100%;
  background-color: #ce1f30;
}

.jbs-home img {
  width: 100%;
}

/*.jbs-row-even {*/
  /*background-color: #eee !important;*/
/*}*/

/*.jbs-row-odd {*/
  /*background-color: #ddd !important;*/
/*}*/

.jbs-time-header {
  background-color: #000 !important;
  color: white !important;
}

.jbs-event-content {
  padding: 0 10px;
}

.jbs-attending label {
  font-size: 10px;
}

.jbs-title {
  font-weight: bolder;
}

.jbs-day-overdue {
  color: gray;
  font-weight: normal;
}

.jbs-not-day-overdue {
  color: white;
  font-weight: bolder;
}

.jbs-home-wrapper .page__background {
  background-color: #85d0cb;
}

.jbs-content-wrapper {
  padding: 0 20px;
}

.jbs-brand {
  color: #960019;
  font-weight: bolder;;
}

.jbs-terms-and-conditions h2 {
  color: #960019;
  margin: 0.3em 0 0.5em;
}

.jbs-terms-and-conditions h3 {
  color: #960019;
  margin-top: 0;
}

.jbs-terms-and-conditions h4 {
  color: #960019;
}

.jbs-terms-and-conditions li {
  padding-bottom: 0.7em;
}

.jbs-terms-and-conditions ol, ul {
  padding: 0 0.7em 0 40px;
}

.jbs-terms-and-conditions ol {
  margin: 1em;
}