@font-face {
  font-family: 'LatoLight';
  src: url('../fonts/Lato-Light.ttf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'LatoRegular';
  src: url('../fonts/Lato-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LatoBold';
  src: url('../fonts/Lato-Bold.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'LatoRegular', sans-serif;
}

.page__content {
  top: 0 !important;
}

.jbs-home {
  background: #CE1F30;
  min-height: 100%;
}

.jbs-home img {
  width: 100%;
}

/*
.jbs-row-even {
  background-color: #eee !important;
}
*/

/*
.jbs-row-odd {
  background-color: #ddd !important;
}
*/

.jbs-time-header {
/*  background-color: #000 !important;
  color: white !important;*/
}

.navigation-bar {
  background-color: #85D0CB !important;
  background-image: none;
}

.jbs-event-content {
  padding: 0 10px;
}

.jbs-attending label {
  font-size: 10px;
}

.jbs-title {
  font-weight: bolder;
}

.page-title {
  font-weight: bold;
}

.intro {
  width: 66.66%;
  margin: 0 auto;
}